@font-face {
  font-family: 'WhiteRabbit';
  src: url('WhiteRabbit.svg#WhiteRabbit') format('svg'),
       url('WhiteRabbit.ttf') format('truetype'),
       url('WhiteRabbit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'whitrabt';
  src: url('whitrabt.eot');
  src: url('whitrabt.eot?#iefix') format('embedded-opentype'),
       url('whitrabt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

