*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans",sans-serif;
    background-color: rgba(241, 177, 156, 0.904);
    height: 100vh;

}

.card{
    max-width: 450px;
    margin: 100px auto;
    border-radius: 25px;
    background-image: url(images/landscapeback.jpg);
    background-size: contain;
    position: relative;

}

.profile-container{
    position: relative;


}

.profile-cont-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 0px 5px #231E39;

}

.profile-cont-header{
 
    color: rgb(253, 158, 43);
    text-align: right;
    padding: 180px 20px 0 0;
    

}

.profile-cont-header p{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-cont-text-one{
    color: #D3D8FD;
    padding: 30px;
    padding-top: 100px;
    margin-top:10px;
    background-color: #231E39;
    line-height: 20pt;
    word-spacing: 2pt;
}

.profile-cont-text-two{
    color: #D3D8FD;
    padding: 0px 10px 10px 30px;
    background-color: #231E39;
    line-height: 20pt;
    word-spacing: 2pt;


}

.profile-cont-text-three{
    color: #D3D8FD;
    padding: 15px 15px 50px 30px;
    background-color: #231E39;
    line-height: 20pt;
    word-spacing: 2pt;
    font-size: 15px;


}

.social-media{
    display: flex;
    flex-direction: row;
    color: #D3D8FD;
    background-color: #231E39;
    padding: 5px 10px 30px 30px;
    justify-content: space-evenly;
}


    
    