@font-face {
	font-family: 'WhiteRabbit';
	src: url('../fonts/WhiteRabbit.svg') format('svg'), url('../fonts/WhiteRabbit.ttf') format('truetype'), url('../fonts/WhiteRabbit.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'whitrabt';
	src: url('../fonts/whitrabt.eot');
	src: url('../fonts/whitrabt.eot') format('embedded-opentype'), url('../fonts/whitrabt.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family:'WhiteRabbit', 'Monda', monospace;
    background-color: #f1f1f1;
    height: 100vh;
  
}



h1,
h2,
h3,
nav a {
	font-family:'WhiteRabbit', 'Monda', monospace;
}

a{
    text-decoration: none;
    color: #fff;
   
    }
    
    a:visited{
    text-decoration: none;
    color: #fff;
    
   
    }

 


nav .hamburger {
    display: inline;
	font-size: 40px;
	cursor: pointer;
	color: #fff;
	margin: 0.5em 0 0 1em;
    transition: .5s;
   
}

.hamburger:hover {
	color: burlywood;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	background-image: url(../img/my-little-plaid--light--1920x1080.png);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: burlywood;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav img {
	margin: 0 0 25px 0px;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 2px solid burlywood;
	display: inline-block;
	transition: width 2s, height 2s, transform 2s;
}

.sidenav img:hover {
	transform: rotate(360deg);
	cursor: pointer;
	
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}


/*NAVIGATION ENDZ*/
/*FLOATING ICON BAR*/
.float-bar {
    position: fixed;
    top: 64%;
    left:96%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    
    

  }
  
  .float-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border: 1px solid #aaa7a7;
    transition:1.2s;
    border-radius: 5%;
    



  }
  
  .float-bar a:hover {
    background-color:burlywood;  
    transform: rotate(360deg);
  }

  
  .facebook {
    background-color: #ddd9d9;
   
  }
  
  .twitter {
    background-color: #ddd9d9;
    
  }
  
  .github {
    background-color: #ddd9d9;
   
  }
  
  .linkedin {
    background-color: #ddd9d9;
    
  }

 fa-gear fa-spin{
      font-size:35px;
      height: 4em;
      background-color: #ddd9d9;
      cursor: pointer;
  }

  .fa-gear{
    color:rgb(235, 188, 127);
    cursor:pointer;
    position: absolute;
    top:50%;
    left: 89%;
    
    
    }

 
/*FLOATING ICON BAR ENDZ*/  

/*BACKGROUND ANIMATION*/

.box div {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid #1E2B24;
	z-index: 1;
}

.box div:nth-child(1) {
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0);
		opacity: 0.5;
	}
	100% {
		transform: scale(1.3) translateY(-90px) rotate(360deg);
		opacity: 0.5;
	}
}


/*BACKGROUND ANIMATION ENDZ*/


/*TITLE NAME SECTION*/

.container1{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    margin:0 auto auto auto;
    position: relative;
    // background-image: url(../img/modernwallblurr1.jpg);
    background-image: url(../img/core-1-edit.jpg);

    background-repeat: no-repeat;
    

}

.container1 .container1-row {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    align-items: center;
    margin:0 auto;
    padding: 5em 0 5em 0;
    
}

.funtag {
	color: burlywood;
}

.container1.col {
	flex-basis: 50%;
	padding: 0 0 0 6em;
}

h1 {
	color: #fff;
	font-size: 100px;
}

.lines {
	width: 150px;
	height: 5px;
	margin: 1em 0 1.5em 0;
	display: block;
	background-color: burlywood;
}

.container1-row p {
	color: #fff;
    font-size: 30px;
    line-height: 30pt;
	font-family:'WhiteRabbit', 'Monda', monospace;
}

button {
    font-family:'WhiteRabbit', 'Monda', monospace;
	width: 150px;
	color: rgb(87, 85, 85);
	font-size: 15px;
	font-weight: 900;
	padding: 13px 13px;
	background: burlywood;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}

button:hover {
    color: #ffdd;
    background-color: rgb(180, 135, 75);
        transition: .5s;

}

button a:hover {
    color: #ffdd;
    transition: .5s;

   
}

.card img {
	width: 350px;
	height: 350px;
	display: inline-block;
	border-radius: 50%;
	border: 10px solid burlywood;
	box-sizing: border-box;
	cursor: pointer;
}


/*ANIMATION FOR TYPING EFFECT OF CONTAINER 1 SUBHEADERS*/

.container1-row p {
    animation : type 1.5s steps(25);
    overflow : hidden;
    white-space : nowrap;
    width : 25ch;
    
    }

    @keyframes type{
        0%{
            width:0ch;
        }
        100%{
            width:25ch;
        }
    }
    /*ANIMATION FOR TYPING EFFECT OF CONTAINER 1 SUBHEADERS END*/


@media screen and (max-width:1090px){
    .container-spinner{
        display: none;
    }

    .container1 .container1-row {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:998px){

    .container1 .container1-row {
        max-width: 100%;
        align-items: center;
      
        
    }

  
    .card img {
       width: 300px;
       height: 300px;   
    }

    h1 {
       
        font-size: 75px;
    }


}

@media screen and (max-width:550px){
    .container1 .container1-row {
        max-width: 90%;
        align-items: center;
        margin: auto;
        
    }

    .card img {
        width: 250px;
        height: 250px;
        margin-right: 5em;
        
     }

     h1 {
       
        font-size: 60px;
        text-align: left;

    }

}

@media screen and (max-width:450px){
    .container1 .container1-row {
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
        
    }

    .card img {
        width: 200px;
        height: 200px;
        margin-right: 5em;
        
     }

     h1 {
       
        font-size: 50px;
        text-align: left;

    }

    .container1-row p {
        font-size: 20px;
     
    }

}
    @media screen and (max-width:327px){
        .container1 .container1-row {
            max-width: 80%;
            align-items: center;
            margin: 0 auto;
            
        }
    
        .card img {
            width: 200px;
            height: 200px;
            margin-right: 5em;
            
         }
    
         h1 {
           
            font-size: 40px;
            text-align: left;
    
        }
    
        .container1-row p {
            font-size: 20px;
         
        }

    }





/*CONTAINER 2 ABOUT SECTION*/

.container2 {
	width: 100%;
	background-color: #485869;
    margin: 0 auto;
    
   
}

.container2-col {
	max-width: 75%;
	display: flex;
    margin: auto;
    
}

.container2-col-profile img {
	width: 350px;
	height: 350px;
    margin: 5em 0 5em 0;
    filter: gray;
	/* IE5+ */
	-webkit-filter: grayscale(1);
	/* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all .8s ease-in-out;
    transition: .6s;
	
}

.container2-col-profile img:hover {
    width: 350px;
    height: 350px;
    margin: 5em 0 5em 0;
    filter: none;
    cursor: pointer;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
    -webkit-box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.36);
}

.container2-col-about_me {
	margin: 2em;
	padding: 2em;
}

.container2-col-about_me h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0 0 0.5em 0;
}

.container2-col-about_me h3 {
	color: #b6b3b3;
	font-size: 50px;
}

.container2-col-about_me p {
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
    letter-spacing: 0pt;
    font-family:'WhiteRabbit', 'Monda', monospace;
   
}



@media screen and (max-width: 1154px){
    .container2-col-about_me h3 {
        font-size: 35px;
    }

}

@media screen and (max-width: 1096px){
    .container2-col-about_me h3 {
        font-size: 35px;
    }

    .container2-col {
        max-width: 65%;
        display: flex;
        margin: auto;
        flex-direction: column;
        
    }

    .container2-col-profile img {
        width: 450px;
        height: 450px;
        margin: 5em 0 0.5em 4em;
        
    }

    .container2-col-about_me h3 {
        font-size: 50px;
    }


}

@media screen and (max-width:796px){ 
    .container2-col-profile img {
        width: 350px;
        height: 350px;
        margin: 5em 0 0.5em 4em;
        
    }
    

}

@media screen and (max-width:680px){ /*IPHONE X AND 6 SCREENS*/

    .container2-col {
        max-width: 100%;
        margin: auto;
        
    }
    .container2-col-about_me p {
        letter-spacing: 0pt;
        font-family: 'WhiteRabbit','Monda', monospace;
        text-align: left;
        
        
    }

    .container2-col-profile img {
        width: 230px;
        height: 230px;
        margin: 5em 0 0.5em 5em;
        
    }
    

}

@media screen and (max-width:340px){
    .container2-col {
        width: 100%;
       
    }

    .container2-col-profile img {
        width: 190px;
        height: 190px;
        margin: 5em 0 0.5em 4em;
        
    }

    .container2-col-about_me p {
        color: #8a8989;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0pt;
        font-family:'WhiteRabbit', 'Monda', monospace;
        width: 100%;
       
    }
    
    

}




/*UNIVERSITY AND LEARNING MODULES SECTION*/
.inner_container3{
   max-width: 75%;
   margin: auto;
}

@media screen and (max-width: 1520px){
    .inner_container3{
    max-width: 100%;
    margin: auto;
    }

}
    


.container3-flex-items {
	margin: auto;
	display: flex;
	max-width: 85%;
	flex-direction: row;
    flex-wrap: wrap;

}

.container3 {
	margin-top: -1em;
	background-color: #23303E;
	margin: auto;
    padding-bottom: 2em;

}

.container3-subheaders {
	padding: 2em;
	max-width: 60%;
	margin: auto;
    color: #fff;

}

.container3-subheaders h2 {
	padding: 0 0 0.5em 0;
}

.container3-subheaders h3 {
	font-size: 50px;
}


.flex-item-span {
	width: 150px;
	height: 5px;
	margin: 1em 0 1.5em 0;
	display: block;
	background-color: burlywood;
}

.container3-flex-items-card {
	width: 20em;
	margin: 1em auto;
	border-radius: 50px;
	background: #23303E;
	border-radius: 25px;  
    border-radius: 23px;
    background: #23313E;
    box-shadow:  -5px 5px 30px #141b23,
                 5px -5px 30px #324759;
}

.container3-flex-items-card:hover {
    border-radius: 23px;
    background: #23313E;
    box-shadow: inset 5px 5px 9px #11181e,
                inset -5px -5px 9px #354a5e;
            }

.container3-flex-items-card h2 {
	color: burlywood;
	padding: 20px;
}

.container3-flex-items-card h2:hover {
	color: rgb(228, 200, 163);
	transition: .5s;
}

.container3-flex-items-card p {
	font-size: 17px;
    color: rgb(228, 224, 224);
	padding: 20px;
    letter-spacing: 0pt;
    line-height: 15pt;
	font-family: 'WhiteRabbit', 'Monda', monospace;
}


.container3-flex-items-card img {
	width: 120px;
	height: 120px;
	margin: 1.5em 0 0 6em;
	transition: transform .5s;
}

.container3-flex-items-card img:hover {
	-ms-transform: scale(1.1);
	/* IE 9 */
	-webkit-transform: scale(1.1);
	/* Safari 3-8 */
	transform: scale(1.1);
}

.flex-items-button {
	font-family: 'WhiteRabbit', 'Monda', monospace;
	background: #393a3a;
	color: burlywood;
	border: 4px solid #23313E;
	border-radius: 10px;
    background: linear-gradient(145deg, #202c38, #253442);
    box-shadow:  9px 9px 18px #1d2934,
                 -9px -9px 18px #293948;
	width: 5em;
	text-align: center;
	padding: 8px;
	margin: 0 0 10px 10px;
	font-weight: 700;
}

.flex-items-button:hover {
background: #23313E;
box-shadow: inset 5px 5px 7px #1a242e,
            inset -5px -5px 7px #2c3e4e;

}

.flex-items-button:active {
background: #23313E;
background: #23313E;
box-shadow: inset 5px 5px 10px #0e1419,
            inset -5px -5px 10px #384e63;
}

.container3-flex-items .container-one {
	padding: 5px 16px;
}

@media screen and(max-width:700px) {
  
   
}

@media screen and (max-width: 450px){
    .container3-subheaders h3 {
        font-size: 30px;
    }
    

}






/*CONTAINER 4 CONTROLS*/


.container4-new {
    width: 100%;
    position: relative;
	background-color: #F6F6F6;
	margin-top: -1em;
    padding-bottom: 3em;
    
    

}

.container4-new-headings {
	max-width: 50%;
	margin: auto;
    padding: 1.5em 0 0 0;

}



.container4-new h2 {
	color: #485969;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0 0 0.5em 0;
}

.container4-new h3 {
	color: #23313E;
	font-size: 35px;
}


//NEW SUBSECTION FOR CONTAINER 4

body{//@debug !important
    //needs investigation as it is holding entire section 4
}



section {
  display: flex;
  flex-flow: row wrap;
  max-width: 85%;
  margin: auto;
  margin-top: 4em;
}

.card-text{
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  transition: 0.5s;

}



.card-text h4 {
  font-family:'WhiteRabbit', 'Monda', monospace;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0.5em;
  color:#E4C8A3;
  transition:.10s;
}


.card-text h4:hover{
    color: #F6F6F6;
    transform: scale(1.04);
    cursor: pointer;

}

.card-text P {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: rgb(228, 224, 224);

}




figure img {
  width: 100%;
      /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary to change image to black and white */
  -webkit-transition: all .8s ease-in-out;
  transition: .6s;
  margin-bottom: -3px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  


}

  figure img:hover {
  cursor: pointer;
  transition: all .3s linear;
  -webkit-filter: grayscale(0); //to reverse black and white

  
}
.column {
  box-sizing: border-box;
  flex: 1 100%;
  justify-content: space-evenly;
  margin: 20px;
}
.card-style {
  border-radius: 15px;
  border-image-slice: 1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.25s linear;
  background-color: #23313ef3;

}
.card-style:hover {
  box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
  padding:20px;
  line-height: 18pt;

}

@media (min-width: 500px) {
  .column {
      flex: 0 0 calc(100%/2 - 40px);
  }
}

@media (min-width: 900px) {
    .column {
      flex: 0 0 calc(100%/4 - 40px);
  }
}


/*button for section 4*/
.button_blue{
    margin: auto;
    margin-top: 4em;
}

.button_blue{
    background-color: #23303ee7;

}

.button_blue p{
    transition: .05s;

}
.button_blue:hover{
    background-color: #23303e;
    transform: scale(1.04);

}

.button_blue p:hover{
    background-color: #23303e;
    transform: scale(1.04);

}




/*CONTACT ME*/

.container5 {
	width: 100%;
	background-color: #e6dfdf;
    margin-top: -1em;
    padding-bottom: 3em;
  
	
}

.container5-headings {
	max-width: 50%;
	margin: auto;
    padding: 1.5em 0 0 0;

}

.container5 h2 {
	color: #485869;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0 0 0.5em 0;
}

.container5-headings h3 {
	color: #23303E;
	font-size: 35px;
}

/*CONTACT FORM*/

.container5-contact-form{
    max-width: 50%;
    margin: 4em auto;
    
}



input[type=text], select, textarea {
    font-family:'WhiteRabbit', 'Monda', monospace;
    background-color: #e6dfdf;
    box-shadow: inset 5px 5px 5px #cfc9c9, 
            inset -5px -5px 5px #fdf5f5;
    width: 100%;
    height: 40px;
    font-size: .99em;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
    border: none;
  }

  input[type=email], select, textarea {
    font-family:'WhiteRabbit', 'Monda', monospace;
    background-color: #e6dfdf;
    box-shadow: inset 5px 5px 5px #cfc9c9, 
            inset -5px -5px 5px #fdf5f5;
    width: 100%;
    height: 40px;
    font-size: .99em;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
    border: none;


  }
  
  input[type=submit] {
    background-color: #e6dfdf;
    box-shadow:  -14px 14px 28px #cfc9c9, 
    14px -14px 28px #fdf5f5;
    font-family:'WhiteRabbit', 'Monda', monospace;
    font-size: .99em;
    letter-spacing: 2px;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;
    color: #485969;

  }
  
  input[type=submit]:hover { 
    background: #e6dfdf;
    box-shadow: inset 5px 5px 7px #bfb9b9, 
            inset -5px -5px 7px #ffffff;
    transition: .5s;
    color: rgb(160, 5, 5);

   
  }

  input[type=submit]:active {
    background: #e6dfdf;
    color: rgb(4, 148, 52);
    font-weight: bold;
    box-shadow:  inset 5px 5px 6px #9a9595, 
    inset -5px -5px 6px #ffffff;
      
  }

  input:focus, textarea { outline: none ! important; }/*REMOVES DEFAULT BLUE BORDERS ON FORMS*/

  @media screen and (max-width: 860px){
    .container5-contact-form{
        max-width: 70%;

    }
  }

  @media screen and (max-width: 450px){
    input[type=submit] {
        width:100%;
    }

    .container5-contact-form{
        max-width: 90%;

}

     .container5-headings h3{
         font-size: 30px;
         margin-bottom: -0.5em;
     }
  }

/*CODE TO SHOW FURTHER DEPRESSION ON FORM FIELDS ON CLICK*/
  input[type=email]:active {
    box-shadow: inset 5px 5px 5px #bdb7b7, 
            inset -5px -5px 5px #ffffff;
  }

  input[type=text]:active {
    box-shadow: inset 5px 5px 5px #bdb7b7, 
            inset -5px -5px 5px #ffffff;
  }

  textarea[type=message]:active{
    box-shadow: inset 5px 5px 5px #bdb7b7, 
    inset -5px -5px 5px #ffffff;

  }



  .g-recaptcha{
    margin: 0 0 1em 0;
    width: 100%;

  }

 



/*SOCIAL LINKS*/

.social-links {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
    justify-content: center;

}

.social-links a {
	width: 75px;
	height: 75px;
	margin: 0 10px;
	font-size: 1.3em;
	border-radius: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 30px;
	background: #e6dfdf;
	box-shadow: -14px 14px 43px #cfc9c9, 14px -14px 43px #fdf5f5;
	transition: transform 0.4s;
}

.social-links a:hover {
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.155), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, .15), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
	transform: translateY(2px);
}

.social-links a:active {
	background: #e6dfdf;
	box-shadow: inset 6px 6px 12px #c1bbbb, inset -6px -6px 12px #ffffff;
}

i {
	color: grey;
	transition: .2s;
}

a:hover i {
	transform: scale(1.4);
}

a:hover .fa-facebook {
	color: rgb(40, 86, 212);
}

a:hover .fa-twitter {
	color: rgb(61, 189, 240);
}

a:hover .fa-youtube {
	color: red;
}

a:hover .fa-linkedin {
	color: rgba(2, 21, 133, 0.836);
}

a:hover .fa-github {
	color: rgb(53, 50, 50);
}

@media screen and (max-width: 450px) {
    .social-links{
        flex-direction: column;
      
    }

    .social-links a{
        margin:0.5em;
      
    }
}



#footer {
	color: #f1f1f1;
	text-align: center;
	font-size: 1.2em;
    padding: 3em 0 3em 0;
    font-family:'WhiteRabbit', 'Monda', monospace;
    width: 100%;
    background-color: #161f29;
    position: absolute;
    z-index: -200;
    

   
}

.footer_lite p{
    color: gray;
    font-size: 13px;
    padding: 1em 0 0 0;
}












// NEW 4




